/*selector{
	property:value;
	*/




body {
	background: url() black;
}

h1{
	color: green;
	text-align: center;
	border:5px solid black
}
img:hover{
	transform: scale(1.1);
	

}
h2{
	text-align: right;
}
p{
	color: blue;
	text-transform: uppercase;
}
img{
	float: left;
}
li{
	list-style: none;
}